<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='https://bootswatch.com/yeti/bootstrap.css' rel='stylesheet' type='text/css'>
  <!-- <link href='./styles/main.css' rel='stylesheet' type="text/css"> -->
</head>
<body ng-app="movies">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Controllers Are Cool</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/list">List</a></li>
        <li><a href="#/about">About</a></li> 
      </ul>
    </div>
  </nav>

<div class="container">

<ng-view></ng-view>

</div>

  <!-- vendor  -->
  <script src="./vendor/angular.js" type="text/javascript"></script>
  <script src="./vendor/angular-route.js" type="text/javascript"></script>

<!--   <script src="./vendor/angular-ui-router.js" type="text/javascript"></script>
  <script src="./vendor/angular-mocks.js" type="text/javascript"></script> -->

  <!-- app -->
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/movie-list.js" type="text/javascript"></script>


  <!-- controllers -->
<!--   <script src="scripts/controllers/mainController.js" type="text/javascript"></script>
  <script src="scripts/controllers/showController.js" type="text/javascript"></script>
 -->

  <!-- directives -->
<!--   <script src="scripts/directives/navBar.js" type="text/javascript"></script>  
  <script src="scripts/directives/index.js" type="text/javascript"></script>  
 -->
  <!-- services -->
<!--   <script src="scripts/services/dataService.js" type="text/javascript"></script>  
 -->
</body>
</html>